/* ======= Navagation Bar CSS ========= */

.navbar {
    background: #ba470d;
    height: 5rem;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-family: 'Grandstander', cursive;
    width: 100%;
}

.navbar-logo {
    margin-left: 5rem;
    padding-top: 25px;
    float:left;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5vw;
}

.menu-icon {
/*justify-self: start;*/
margin-left: -14rem;
font-size: 2.5vw;
margin-top: 1.2rem;
float: left;
display: none;
}

.nav-item {
    display: inline-block;
    padding: 1vw;
    font-size: 1.5vw;
    padding-top: 2rem;
}

/* ======= HomePage CSS ========= */
.home-title {
    text-align : center;
    margin-block: 2rem;
}


/*_______________________Adventures page___________ */
