/* ======= Navagation Bar CSS ========= */

.navbar {
    background: rgba(44,72,76);
    height: 5rem;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
}

.navbar-logo {
    float:left;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5vw;
    color: rgb(87,180,169);
}

.menu-icon {
justify-self: start;
margin-left: -14rem;
font-size: 2.5vw;
margin-top: 1.2rem;
float: left;
display: none;
color: rgb(87,180,169);
}

.nav-item {
    display: inline-block;
    padding: 1vw;
    font-size: 1.5vw;
    padding-top: 2rem;
    color: rgb(87,180,169);
}

.nav-links {
color: rgb(87,180,169);

}


/* ============ HomePage CSS ========= */
.home-title {
    text-align : center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(201,125,93);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.img{
  opacity: 0.8;
}


/*_______________________Login page___________ */

.WelcomeTitle{
    text-align : center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(201,125,93);
}

.Login-Container{
  
}

  /* ===== Footer Component ====== */

  .footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(44,72,76);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }